@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2 class="text-center">@ViewBag.Title</h2>

<h4>Obtenga más información sobre el equipo que mantiene Cupones U'wa, cómo y por qué comenzó el proyecto y cómo participar.</h4>
<hr />
<h3>Equipo</h3>
<p>Cupones U'wa es mantenido por 3 estudiantes de ingenieria de sistemas de la Universidad del Cauca. El objetivo es crecer como ingenieros, desarroladores y emprendedores y nos encantaria tu opinion respecto a este pequeño trabajo, puedes escribirnos y ayudarnos a mantener los complementos y mejorando el proceso de retroalimentacion.</p>
<hr />
<h3>Historia</h3>
<p>La idea de crear la pagina surgio cursando la asignatura de Ingenieria del Software 3, dictada por el PD.Hendrys Fabián Tobar Munoz el cual nos asigno este proyecto, pero se convirtio en algo mas a medida que se se desarrollaba y se desea que sea una de las paginas mas populares del mundo. </p>
<p>Tras unas semanas de desarrollo se convirtio en una pasion y casi que en un estilo de vida para poder crear una compañia y asi ingresar en el campo laboral.</p>
<hr />
<h3>Ingrese a nuesta comunidad</h3>
<p>Participe en la compra y venta de cupones, desarrollando o promocionando la pagina, puede enviar una solucitud de comunicacion. Lea nuestro contacto y obtendra informacion de como poder contactarnos</p>
<hr />