@model Cupones.Models.CouponCodeModel

@{
    ViewBag.Title = "BuyDetail";
}

<h2>BuyDetail</h2>

<div>
    <h4>CouponCodeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <h4>Gracias por comprar con nosotros</h4>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCouponCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
